<div class="container">
  <div class="row wrap">
    <div class="col-md-12">
      <div class="d-flex justify-content-between">
        <div>
          <h5>
            Receipt-June 20, 2019
          </h5>
        </div>
        <div>
          <a style="color: #007bff">Download PDF</a>
        </div>
      </div>
      <mat-divider
        style="margin: 20px 0px;border-top-width: 3px;"
      ></mat-divider>
    </div>
  </div>
  <div class="row wrap">
    <div class="col-md-12">
      <div class="d-flex justify-content-between address">
        <div>
          <h4>
            Lerni
          </h4>
          <p>02nd Floor, Plot No:6-11, survey No., 40,</p>
          <p>Khajaguda,Naga Hills Rd,</p>
          <p>Madhura Nagar Colony, Gachibowli,</p>
          <p>Hyderabad, Telangana 500008</p>
        </div>
        <div>
          <h6>
            <span style="font-size: 12px;color:gray">Sold To</span>&nbsp;
            Rolling Stone
          </h6>
          <br />
          <br />
          <h6>
            <span style="font-size: 12px;color:gray">Date:</span>&nbsp; 21st
            January 2019
          </h6>
          <h6>
            <span style="font-size: 12px;color:gray">Order Id:</span>&nbsp;
            AD-666D4772595867890987657
          </h6>
        </div>
      </div>
      <mat-divider
        style="margin: 20px 0px;border-top-width: 2px;"
      ></mat-divider>
    </div>
  </div>
</div>
